.custom-navbar {
    background-color: #5389ae !important;
    padding: 7px 0;
}

.logo-icon {
    color: white;
    background-color: #3b637d;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
}

.logo-text {
    text-shadow: 1px 2px 3px #147;
    font-size: 36px;
    line-height: 43px;
    color: white;
    font-weight: bold;
}

.nav-link-custom {
    color: white !important;
    font-size: 1.1rem;
    margin-left: 20px;
    transition: opacity 0.2s;
}

.nav-link-custom:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .navbar {
        padding: 0 !important;
    }

    .custom-navbar {
        background-color: #5389ae !important;
        padding: 7px 0;
    }
    .logo-icon {
        width: 30px;
        height: 30px;
        border-radius: 6px;
        font-size: 0.9rem;
    }

    .logo-text {
        text-shadow: 1px 2px 3px #147;
        font-size: 27px;
        line-height: 43px;
        color: white;
        font-weight: bold;
    }

    .nav-link-custom {
        color: white !important;
        font-size: 0.9rem;
        margin-left: 20px;
        transition: opacity 0.2s;
    }
}
